{% extends "base2.html" %}
{% block title %}Problem 5{% endblock %}

{% block content %}
<form id="problem5-form" method="post" novalidate>
    {% csrf_token %}
    <div class="container"> 
        <br> 
        <h2>5. Smallest Prime: Type-2</h2>
        <div class="problem-statement">
            <pre class="wrap">
                <h5><b>Problem Statement:</b></h5>Given a positive integer N, print the number p, such that p is the smallest prime number greater than or equal to N.
Example:
Input: 11
Output: 11
Input: 22
Output: 23
Input: 1
Output: 2</pre>
        </div>
        <p><pre class="wraptext"><h5><b>Incorrect Solution:</b></h5><code><span class="keyword">#include</span> <span class="string">&lt;stdio.h&gt;</span>
<span class="keyword">#include</span> <span class="string">&lt;math.h&gt;</span>
<span class="keyword">int</span> <span class="function">check_prime</span>(<span class="keyword">int</span> num)
{
    <span class="keyword">int</span> num_divisors=0;
    <span class="keyword">if</span>(num==1)
        <span class="keyword">return</span> 0;

    <span class="keyword">if</span> (num==2||num==3)
        <span class="keyword">return</span> 1;
    <span class="keyword">else</span>
    {
        <span class="keyword">for</span>(<span class="keyword">int</span> i=2;i&lt;(int)sqrt(num);i++) 
            <span class="keyword">if</span>(num%i==0)
                num_divisors++;
        <span class="keyword">if</span>(num_divisors == 0) 
            <span class="keyword">return</span> 1;

        <span class="keyword">else</span>
            <span class="keyword">return</span> 0;
    }
}
<span class="keyword">int</span> <span class="function">main</span>()
{
    <span class="keyword">int</span> a,o;
    <span class="function">scanf</span>(<span class="string">"%d"</span>,&a);
    <span class="keyword">do</span>
    {
        o=<span class="function">check_prime</span>(a);
        <span class="keyword">if</span>(o==1)
            <span class="function">printf</span>(<span class="string">"%d\n"</span>,a);
        <span class="keyword">else</span>
            a++;    
    }
    <span class="keyword">while</span>(o!=1);
    <span class="keyword">return</span> 0;
}</code></pre></p>
        <div class="form-group">
            <b>{{ form.error_description_51.label_tag }}</b><br>
            {{ form.error_description_51 }}
        </div>
        <div class="form-group">
            <label for="understandability51"><b> {{ form.understandability51.label_tag }} </b></label>
            <div class="star-rating mt-3" data-feedback-id="51">
                <span style="color: green; font-size: 0.9rem; position: relative; bottom: 0.25rem; font-weight: 600">Very Easy</span>
                <span class="star {% if understandability.understandability51 >= 1 %}filled{% endif %}" data-value="1">&#9733;</span>
                <span class="star {% if understandability.understandability51 >= 2 %}filled{% endif %}" data-value="2">&#9733;</span>
                <span class="star {% if understandability.understandability51 >= 3 %}filled{% endif %}" data-value="3">&#9733;</span>
                <span class="star {% if understandability.understandability51 >= 4 %}filled{% endif %}" data-value="4">&#9733;</span>
                <span class="star {% if understandability.understandability51 >= 5 %}filled{% endif %}" data-value="5">&#9733;</span>
                <span style="color: red; font-size: 0.9rem; position: relative; bottom: 0.25rem; font-weight: 600">Very Difficult</span>
            </div>
            <input type="hidden" name="understandability51" id="understandability51" value="{{ understandability.understandability51 }}">
        </div>
        <div class="form-group">
            <button type="button" id="show-feedback-btn5" class="btn btn-secondary">Show Feedback</button>
        </div> 
        <div id="conditional-content5" class="hidden">
            <div class="feedback">
                <pre class="wrap">
<h5><b>Feedback:</b></h5>{{ highest_rating_content }}</p></pre>
{% comment %} <p><strong>Name:</strong> {{ highest_feedback_name }}</p> {% endcomment %}
{% comment %} <p><strong>Content:</strong> {% endcomment %}
            </div>
            <div class="form-group">
                <b>{{ form.error_description_52.label_tag }}</b><br>
                {{ form.error_description_52 }}
            </div> 
            <div class="form-group">
                <label for="understandability52"><b> {{ form.understandability52.label_tag }}</b> </label>
                <div class="star-rating mt-3" data-feedback-id="52">
                    <span style="color: red; font-size: 0.9rem; position: relative; bottom: 0.25rem; font-weight: 600">Not Helpful</span>
                    <span class="star {% if understandability.understandability52 >= 1 %}filled{% endif %}" data-value="1">&#9733;</span>
                    <span class="star {% if understandability.understandability52 >= 2 %}filled{% endif %}" data-value="2">&#9733;</span>
                    <span class="star {% if understandability.understandability52 >= 3 %}filled{% endif %}" data-value="3">&#9733;</span>
                    <span class="star {% if understandability.understandability52 >= 4 %}filled{% endif %}" data-value="4">&#9733;</span>
                    <span class="star {% if understandability.understandability52 >= 5 %}filled{% endif %}" data-value="5">&#9733;</span>
                    <span style="color: green; font-size: 0.9rem; position: relative; bottom: 0.25rem; font-weight: 600">Very Helpful</span>
                </div>
                <input type="hidden" name="understandability52" id="understandability52" value="{{ understandability.understandability52 }}">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" id="submit-btn" class="btn btn-primary">Save & Next</button>
        </div>
    </div>
</form> 

<nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if 1 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem1' 1 %}">1</a>
        </li>
        <li class="page-item {% if 2 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem2' 2 %}">2</a>
        </li>
        <li class="page-item {% if 3 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem3' 3 %}">3</a>
        </li>
        <li class="page-item {% if 4 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem4' 4 %}">4</a>
        </li>
        <li class="page-item {% if 5 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem5' 5 %}">5</a>
        </li>
        <li class="page-item {% if 6 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem6' 6 %}">6</a>
        </li>
        <li class="page-item {% if 7 not in visited_pages %}disabled{% endif %}">
            <a class="page-link" href="{% url 'problem7' 7 %}">7</a>
        </li>
    </ul>
</nav> 
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const showFeedbackBtn = document.getElementById('show-feedback-btn5');
        showFeedbackBtn.disabled = true;

        function checkFeedbackButtonState() {
            const storedUnderstandability = localStorage.getItem('understandability51');
            const storedErrorDescription51 = localStorage.getItem('error_description_51');

            if (storedUnderstandability && storedErrorDescription51) {
                showFeedbackBtn.disabled = false;  
            } else {
                showFeedbackBtn.disabled = true; 
            }
        }

        checkFeedbackButtonState();

        document.querySelectorAll('.star-rating').forEach(starRatingDiv => {
            const feedbackId = starRatingDiv.getAttribute('data-feedback-id');
            const hiddenInput = document.querySelector(`input[name='understandability${feedbackId}']`);

            const stars = starRatingDiv.querySelectorAll('.star');

            const storedRating = localStorage.getItem(`understandability${feedbackId}`);
            if (storedRating) {
                hiddenInput.value = storedRating;

                stars.forEach((star, index) => {
                    if (index < storedRating) {
                        star.classList.add('filled');
                    }
                });
            }

            stars.forEach(star => {
                star.addEventListener('click', () => {
                    const value = star.getAttribute('data-value');

                    stars.forEach(s => s.classList.remove('filled'));

                    for (let i = 0; i < value; i++) {
                        stars[i].classList.add('filled');
                    }

                    hiddenInput.value = value;
                    localStorage.setItem(`understandability${feedbackId}`, value);

                    if (feedbackId === '51') {
                        checkFeedbackButtonState();
                    }
                });
            });
        });

        const errorDescription51Radios = document.querySelectorAll('input[name="error_description_51"]');
        const storedRadioValue51 = localStorage.getItem('error_description_51');
        if (storedRadioValue51) {
            errorDescription51Radios.forEach(radio => {
                if (radio.value === storedRadioValue51) {
                    radio.checked = true;
                }
            });
        }

        errorDescription51Radios.forEach(radio => {
            radio.addEventListener('change', () => {
                if (radio.checked) {
                    localStorage.setItem('error_description_51', radio.value);
                    checkFeedbackButtonState();  
                }
            });
        });

        const errorDescription52Radios = document.querySelectorAll('input[name="error_description_52"]');
        const storedRadioValue52 = localStorage.getItem('error_description_52');
        if (storedRadioValue52) {
            errorDescription52Radios.forEach(radio => {
                if (radio.value === storedRadioValue52) {
                    radio.checked = true;
                }
            });
        }

        errorDescription52Radios.forEach(radio => {
            radio.addEventListener('change', () => {
                if (radio.checked) {
                    localStorage.setItem('error_description_52', radio.value);
                }
            });
        });

        const submitBtn = document.getElementById('submit-btn');
        submitBtn.addEventListener('click', (e) => {
            const requiredFields = document.querySelectorAll('input[type="hidden"]');
            let allFilled = true;

            requiredFields.forEach(field => {
                if (!field.value || field.value === "" || field.value == "0") {
                    allFilled = false;
                }
            });

            const errorDescription51Selected = document.querySelector('input[name="error_description_51"]:checked');
            const errorDescription52Selected = document.querySelector('input[name="error_description_52"]:checked');

            if (!allFilled || !errorDescription51Selected || !errorDescription52Selected) {
                e.preventDefault();
                alert('Please answer all the questions (including those revealed when you click the Show Feedback button) before proceeding.');
            }
        });

        window.history.pushState(null, document.title, window.location.href);
        window.addEventListener('popstate', function(event) {
            alert("This action is not allowed. Please use the navigation buttons provided.");
            window.history.pushState(null, document.title, window.location.href);
        });
    }); 
</script>



<style>
    
    .star-rating .star {
        font-size: 30px; 
        color: #ddd; 
        cursor: pointer;
        transition: color 0.2s;
    }
    
    .mt-3, .my-3 {
        margin-top: 1rem !important;
        text-align: center;
    }
    
    .star-rating .star.filled {
        color: #ffc107; 
    }
    
</style>

{% endblock %}